button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.button-pink {
    height: 32px;
    width: 115px;
    background-color: $pink-color;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    
        span {
            font-size: 12px;
            line-height: 24px;
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: $white-color;
        }
}

.button-accept {
    position: absolute;
    right: $indent-32;
}