.footer {
    padding: $indent-16;

    @media (min-width: $w-scrin-320) {
        font-size: 14px;    
        line-height: 16px;
        text-align: center;
        color: #7E7E82;
    }

    @media (min-width: $w-scrin-768) {
        display: flex;
        justify-content: space-between;
        text-align: start;
    }

    @media (min-width: $w-scrin-1020) {
        padding-left: $nav-weight-1020;
    }

    &__copyrite {
        flex-basis: 30%;
    }

    &__privacy {
        flex-basis: 30%;
    }

    &__massage {
        flex-basis: 30%;
    }

    &__point {
        margin-bottom: $indent-16;
    }
}
