.header {
    z-index: $down-z;
    position: fixed;
    height: 88px;
    min-width: 100%;
    background-color: $white-color;
    display: flex;
    align-items: center;
    top: 0;


    @media (min-width: $w-scrin-320) {
        border-bottom: 1px solid #D9FFF5;
        margin-bottom: $indent-24;

        .icon {

            &__repair {
                margin-left: 0;
            }
        }

        &__icon-bar {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        &__l-burger {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        &__l-communication {
            display: none;
            align-items: center;
            margin-left: auto;
        }
    
        &__l-repair {
            padding-right: $indent-16;
            display: flex;
            justify-content: end;
            flex-grow: 1;
        }
    
        &__line {
            background-color: #EAEAEA;
            height: 32px;
            width: 2px;
            border-radius: 1px;
            margin: 0 4px 0 4px;
        }
    
        &__line--first {
            display: none;
        }
    
        &__line--last {
            margin: 0 auto 0 auto;
        }
    
        &__text {
            display: none;
        }
    }

    @media (min-width: $w-scrin-768) {

        .icon {

            &__repair {
                margin-left: $indent-16;
            }
        }

        padding: 18px 24px 18px 8px;

        &__line--last {
            margin: 0 4px 0 20px;
        }

        &__line--first {
            display: block;
            margin: 0 4px 0 20px;
        }

        &__l-communication {
            display: flex;
        }

        &__l-repair {
            flex-grow: 0;
        }
    }

    @media (min-width: $w-scrin-1020) {
        border-bottom: none;
        min-width: 0;
        position: absolute;
        right: 0;
        top: 24px;

        &__l-burger {
            display: none;
        }

        &__l-communication {
            display: none;
        }

        &__text {
            display: block;
            margin-right: 8px;
        }

        &__line--last {
            display: none;
        }
    }
}