.icon {
    margin-left: $indent-16;

    &:hover,
    &:focus {
        opacity: 0.7;
        transition: .4s;
        transform: scale(1.1);
    }

    &__burger-close {

        @media (min-width: $w-scrin-1020) {
            display: none;
        }
    }

    &__burger {
    }

    &__logo {
        flex-grow: 1;
        &:hover,
        &:focus {
            opacity: 1;
            transition: .4s;
            transform: none;
        }
    }

    &__search {
        margin-left: auto;
    }

    &__call {
    }

    &__chat {
    }

    &__profile {
    }

    &__repair {
    }

    &__checkstatus {
    }
}

.icon-logo {
    margin-left: $indent-16;
    cursor: pointer;

    @media (min-width: $w-scrin-1020) {
        margin-left: 0;
    }
}

