.info {
    max-width: 100%;
    &::-webkit-scrollbar {
        width: 0;
    }

    @media (min-width: $w-scrin-320) {

        h1 {
            font-size: 28px;
        }

        &__title {
            padding-left: $indent-16;
        }
    
        &__menu {
            padding-left: $indent-16;
            margin-top: $indent-24;
            height: 60px;
            width: 100%;
            overflow: scroll;
            display: flex;
        }
    
        &__item {
            margin: 0 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;

            h2 {
                font-size: $f-size-main;
                color: $gray-color;
                font-weight: normal;
                white-space: nowrap;
                padding: 6px $indent-16;
            }
        }
    
        &__item--active {
            margin: 0;
            border: 1px solid $nav-blur-color;
            border-radius: 6px;
        }

        &__text {

            transition: .4s;

            p:nth-child(1) {
                margin: 0;
            }

            padding-left: $indent-16;
            overflow: hidden;
            // height: 87px;
            margin: 0 0;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0.2px;
            margin-bottom: $indent-16;
        }

        &__text-active {
            // height: 253px;
            height: 87px;
        }
    
        &__img {
            display: flex;
            max-width: 100%;
            min-height: 185px;

            img {
                max-width: 100%;
                object-fit: contain;
            }
        }

        .button-more {
            padding-left: $indent-24;
            margin-bottom: $indent-16;
        }
    }

    @media (min-width: $w-scrin-768) {

        &__content {
            display: flex;
            margin-bottom: $indent-16;
        }

        &__img {
            min-width: 50%;
            max-height: 20%;
            

            img {
                border-radius: 6px;
                min-width: 100%;
            }
            

        }

        &__text {
            // height: 158px;
            margin-right: 40px;
            line-height: 20px;
        }

        &__text-active {
            height: 102px;
        }
    }

    @media (min-width: $w-scrin-1020) {

        &__title {
            margin-bottom: 36px;
        }
        &__menu {
            overflow: visible;
            flex-wrap: wrap;
            height: 120px;
        }

        .page-is-active {

            &::after {
                left: $nav-weight-1020;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__content {
            padding-top: $indent-16;
        }

        &__img {
            min-width: 375px;
            max-height: 217px;
        }

        // &__text-active {
        //     height: 320px;
        // }
    }

    @media (min-width: $w-scrin-1366) {
        // &__text-active {
        //     height: 180px;
        // }
    }

    // @media (min-width: $w-scrin-1440) {
    //     &__img {
    //         min-width: 385px;
    //         max-height: 222px;
    //     }
    // }

}
