.mobal-call {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    z-index: -1;
    background-color: $white-color;
    transition: .4s;
    
    
    @media (min-width: $w-scrin-320) {
        width: 100%;
        padding: $indent-24 $indent-16;
    }

    @media (min-width: $w-scrin-768) {
        width: 440px;
    }

    @media (min-width: $w-scrin-1020) {
        width: 440px;
        padding: 40px $indent-32;
    }
}

.mobal-call--active {
    position: fixed;
    opacity: 1;
    z-index: $up-z;
    transition: .4s;
}