// Адаптив
$w-scrin-320: 320px;
$w-scrin-768: 768px;
$w-scrin-1020: 1020px;
$w-scrin-1366: 1366px;

// Отступы
$indent-16: 16px;
$indent-24: 24px;
$indent-32: 32px;

// Шрифты
$f-size-main: 16px;
$f-size-1-5: 1.5rem;
$main-font-family: 'TT Lakes', sans-serif;
// $bold-font-family: TT Lakes Bold, sans-serif;
// $medium-f-family: TT Lakes Medium, sans-serif;


// Цвета
$nav-color: #41F6D7;
$nav-color-sec: #77b3a9;
$nav-blur-color: #B8FFEC;
$gray-color: #7E7E82;
$white-color: #FFFFFF;
$w-b-color: #D9FFF5;
$f-color: #1B1C21;
$ea-color: #EAEAEA;
$pink-color: #FF3E79;


// Размеры
$nav-weight-1020: 306px;

// Z-index
$up-z: 100;
$down-z: 10;